@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppin", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(images1/2151075873.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.row {
  width: 100%;
  padding: 0px 80px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  position: relative;
  z-index: 1;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  list-style: none;
}

.navbar ul a {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 18px;
  font-family: sans-serif;
  font-size: 16px;
  color: white;
}

.navbar ul a:not(:last-child) {
  margin-right: 30px;
}

.navbar ul a:hover {
  background-color: hsl(204, 79%, 53%);
}

.navbar img {
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-timing-function: cubic-bezier(0.75, 0.06, 0, 1.8);
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.2s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-size: 45px;
  list-style: none;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu a {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 18px;
  font-family: sans-serif;
  font-size: 16px;
  color: white;
}

.mobile-menu a:not(:last-child) {
  margin-right: 30px;
}

.mobile-menu a:hover {
  background-color: hsl(0, 0%, 69%);
  transition: 0.5s;
}

.content {
  color: white;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content h3 {
  font-weight: 400;
}

.content h2 {
  font-size: 25px;
  font-weight: 600;
}

.content span {
  font-size: 25px;
  font-weight: 400;
}

.content span #span2 {
  color: rgb(243, 23, 23);
  text-shadow: 2px 2px 3px hsl(0, 0%, 0%), -2px -2px 3px hsl(209, 92%, 47%);
}

.content p {
  font-size: 18px;
  font-weight: 400;
}

.content a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  font-size: 19px;
  display: inline-block;
  letter-spacing: 2px;
  padding: 12px 20px;
  background-color: hsl(204, 79%, 33%);
  border-radius: 8px;
  transition: 0.3s ease;
}

.content a:hover {
  background-color: hsl(204, 79%, 53%);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

.media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media-icons a {
  position: relative;
  color: white;
  font-size: 30px;
  transition: 0.1s;
  transition-property: tranform;
  margin-bottom: 50px;
}

.media-icons a:not(:last-child) {
  margin-right: 40px;
}

.media-icons a:hover {
  transform: scale(1.2);
}

@keyframes glow {
  50% {
    box-shadow: 0px 0px 50px blue;
  }
}
@media (max-width: 650px) {
  .navbar {
    flex-direction: column;
  }
  .navbar ul {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */